{% render 'partials/head.liquid' %}

<main>
    <section class="district-hero">
        <h2>Algemeen</h2>
        {% render 'partials/doelgroep-filter.liquid' %}
    </section>

    <section class="district-articles">
        {% for story in stories %}
        <a href="/{{ story.district }}/test" class="single-article-link">
            <article class="single-article algemeen">
                <img class="article-cover" src="https://fdnd-agency.directus.app/assets/{{ story.cover }}" alt="">
                <div class="article-card-content">
                    <time class="article-date">{{ story.date | date: "%d-%m-%Y" }}</time>
                    <h3 class="article-title">{{ story.title }}</h3>
                    <p class="article-intro">{{ story.intro }}</p>
                </div>
        </a>
        </article>
        {% endfor %}
    </section>

    {% comment %} <nav class="articles-pagination" aria-labelledby="pagination">
        <h3 id="pagination" class="visuallyhidden">Pagination</h3>
        <ul class="pagination-list">
            <li><a href="#" aria-current="page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </nav> {% endcomment %}

</main>

{% render 'partials/foot.liquid' %}