{% render 'partials/head.liquid' %}

<main>
    <h1>Nieuw-West</h1>
    {% render 'partials/doelgroep-filter.liquid' %}

    <section>
        {% for story in stories %}
        <article class="">
            <img class="article-cover" src="https://fdnd-agency.directus.app/assets/{{ story.cover }}" alt="">
            <span class="article-date">{{ story.date }}</span>
            <h2 class="article-title">{{ story.title }}</h2>
            <p class="article-intro">{{ story.intro }}</p>
            <a href="/nieuwwest/{{ story.slug }}">Lees meer</a>
        </article>
        {% endfor %}
    </section>

    {% comment %} Statische artikelen {% endcomment %}
    {% comment %} <section class="articles-container">
        <article class="highlighted">
            <img class="article-cover" src="./assets/nieuwwest/dragers_in_damsko.png.webp" alt="Dragers in Damsko">
            <span class="article-date">21-01-2026</span>
            <h2 class="article-title">Buurtcampus expositie; ‘Dragers in Damsko’</h2>
            <p class="article-intro">De expositie ‘Dragers in Damsko’ vertelt de verhalen van de wijkpartners van de HvA
                Buurtcampussen. We hebben aan onze wijkpartners gevraagd wat zij uitdragen in de stad. Wat motiveert hen
                zich langdurig in te zetten voor de leefbaarheid van hun buurt?...</p>
            <a href="/nieuwwest/dragers-in-damsko">Lees meer</a>
        </article>

        <article class="">
            <img class="article-cover" src="./assets/nieuwwest/buurtcampus-highlights-2025.png.webp"
                alt="Buurtcampus highlights 2025">
            <span class="article-date">20-01-2026</span>
            <h2 class="article-title">Buurtcampus highlights 2025</h2>
            <p class="article-intro">Als je je afvraagt, wat gebeurt er nou eigenlijk precies op zo'n Buurtcampus? We
                hebben het afgelopen jaar weer ontzettend veel mooie...</p>
            <a href="/nieuwwest/buurtcampus-highlights-2025">Lees meer</a>
        </article>

        <article class="">
            <img class="article-cover" src="./assets/nieuwwest/bewegen-verbindt.png.webp" alt="Bewegen verbindt">
            <span class="article-date">17-09-2025</span>
            <h2 class="article-title">Bewegen verbindt: jong en oud bij de Sociale Sportschool</h2>
            <p class="article-intro">Van september t/m april gaan studenten van de opleiding Fysiotherapie samen op
                bootcamp met ouderen in een rolstoel of met rollator...</p>
            <a href="/nieuwwest/bewegen-verbindt">Lees meer</a>
        </article>

        <article class="">
            <img class="article-cover" src="./assets/nieuwwest/wandelen-in-de-natuur.jpg.webp"
                alt="Wandelen in de natuur">
            <span class=" article-date">17-09-2025</span>
            <h2 class="article-title">Wandelen in de natuur: goed voor jou én de planeet</h2>
            <p class="article-intro">Buurtcampus Oost heeft studenten van de opleiding IPZ gevraagd om vanaf oktober tot
                half januari elke woensdagochtend van 10.00 tot 11.00 een Natuurwandeling in het Frankendaelpark te
                ontwikkelen en organiseren...</p>
            <a href="/nieuwwest/wandelen-in-de-natuur">Lees meer</a>
        </article>
    </section> {% endcomment %}

    <nav class="articles-pagination" aria-labelledby="pagination">
        <h3 id="pagination" class="visuallyhidden">Pagination</h3>
        <ul class="pagination-list">
            <li><a href="#" aria-current="page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </nav>

</main>

{% render 'partials/foot.liquid' %}