{% render 'partials/head.liquid' %}

<main>
    <section class="district-hero">
        <h2>Nieuw-West</h2>
        {% render 'partials/doelgroep-filter.liquid' %}
    </section>







    <section class="district-articles">
        {% for story in stories %}
        <article class="single-article nieuw-west">
            <img class="article-cover" src="https://fdnd-agency.directus.app/assets/{{ story.cover }}" alt="">
            <span class="article-date">{{ story.date }}</span>
            <h3 class="article-title">{{ story.title }}</h3>
            <p class="article-intro">{{ story.intro }}</p>
            <a href="/{{ story.district }}/{{ story.slug }}">→</a>
        </article>
        {% endfor %}
    </section>

    <nav class="articles-pagination" aria-labelledby="pagination">
        <h3 id="pagination" class="visuallyhidden">Pagination</h3>
        <ul class="pagination-list">
            <li><a href="#" aria-current="page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
    </nav>

</main>

{% render 'partials/foot.liquid' %}